.itemTransition-enter {
  opacity: 0;
  transform: translateX(-500);
}
.itemTransition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.itemTransition-exit {
  opacity: 1;
  transform: translateX(0);
}
.itemTransition-exit-active {
  opacity: 0;
  transform: translateX(-500);
  transition: opacity 500ms translateX 500ms;
}
